.vscode/**
.vscode-test/**
out/**
!out/extension.js
src/**
.gitignore
.vscodeignore
tsconfig.json
package-lock.json
bun.lock
vsc-extension-quickstart.md
CHANGELOG.md
README.md
eslint.config.mjs
jest.config.js
node_modules/**
**/*.map
**/*.ts
